#_Release 2023-09-17
#_ansible_core_version:2.15.4
amazon.aws
ansible.netcommon
ansible.posix
ansible.utils
ansible.windows
arista.eos
awx.awx
azure.azcollection
check_point.mgmt
chocolatey.chocolatey
cisco.aci
cisco.asa
cisco.dnac
cisco.intersight
cisco.ios
cisco.iosxr
cisco.ise
cisco.meraki
cisco.mso
cisco.nso
cisco.nxos
cisco.ucs
cloud.common
cloudscale_ch.cloud
community.aws
#community.azure is deprecated -> azure.azcollection, last supported 1.1.0
#community.azure:1.1.0
community.ciscosmb
community.crypto
community.digitalocean
community.cassandra
#community.cockroachdb
community.dns
community.docker
community.fortios:
community.general
community.google
community.grafana
community.hashi_vault
community.hrobot
community.kubevirt
community.libvirt
community.mongodb
community.mysql
community.network
community.okd
community.postgresql
community.proxysql
community.rabbitmq
community.routeros
# deprecated
community.sap:1.0.0
community.sap_launchpad
community.sap_libs
community.sap_operations
community.skydive
community.sops
community.vmware
community.windows
community.yang
community.zabbix
containers.podman
#contains no modules
#cyberark.conjur
cyberark.pas
dellemc.enterprise_sonic
dellemc.openmanage
dellemc.os10
dellemc.os6
dellemc.os9
dellemc.powerflex
dellemc.unity
f5networks.f5_modules
fortinet.fortimanager
fortinet.fortios
frr.frr
gluster.gluster
google.cloud
grafana.grafana
hetzner.hcloud
hpe.nimble
ibm.qradar
ibm.spectrum_virtualize
infinidat.infinibox
infoblox.nios_modules
inspur.ispim
inspur.sm
junipernetworks.junos
kubernetes.core
lowlydba.sqlserver
mellanox.onyx
microsoft.ad
netapp.aws
netapp.azure
netapp.cloudmanager
netapp.elementsw
netapp.ontap
netapp.storagegrid
netapp.um_info
netapp_eseries.santricity
netbox.netbox
ngine_io.cloudstack
ngine_io.exoscale
ngine_io.vultr
nttmcp.mcp
openstack.cloud
openvswitch.openvswitch
oracle.oci
ovirt.ovirt
paloaltonetworks.panos
purestorage.flasharray
purestorage.flashblade
purestorage.fusion
radware.radware_modules
sap.sap_operations
sensu.sensu_go
servicenow.itsm
servicenow.servicenow
splunk.es
solace.pubsub_plus
t_systems_mms.icinga_director
t_systems_mms.mongodb_atlas
# new
telekom_mms.icinga_director
trendmicro.deepsec
theforeman.foreman
vmware.vmware_rest
vultr.cloud
vyos.vyos
wti.remote