#_Release 2025-12-09
#_ansible_core_version:2.19.4
#
cisco.dnac
fortinet.fortimanager
fortinet.fortios
#
ansible.builtin
arista.eos
awx.awx
azure.azcollection
check_point.mgmt
chocolatey.chocolatey
cisco.aci
cisco.asa
cisco.intersight
cisco.ios
cisco.iosxr
cisco.ise
cisco.meraki
cisco.mso
cisco.nso
cisco.nxos
cisco.ucs
# requires ansible < 2.19
cloud.common
cloud.terraform
cloudscale_ch.cloud
community.aws
community.ciscosmb
community.crypto
community.digitalocean
community.cassandra
#community.cockroachdb
community.dns
community.docker
community.fortios
community.google
community.grafana
community.hashi_vault
community.hrobot
community.kubevirt
community.libvirt
# community.library_inventory_filtering_v1
# new
community.libvirt
community.mongodb
community.network
community.okd
community.proxmox
community.proxysql
community.rabbitmq
community.routeros
community.sap_launchpad
community.sap_libs
# community.sap_operations
community.skydive
community.sops
community.vmware
community.windows
community.yang
community.zabbix
containers.podman
# contains no modules
# cyberark.conjur
cyberark.pas
dellemc.enterprise_sonic
dellemc.openmanage
dellemc.os10
dellemc.os6
dellemc.os9
dellemc.powerflex
dellemc.unity
f5networks.f5_modules
frr.frr
gluster.gluster
google.cloud
grafana.grafana
hetzner.hcloud
hitachivantara.vspone_block
# New
hitachivantara.vspone_object
hpe.nimble
ibm.qradar
ibm.spectrum_virtualize
ibm.storage_virtualize
ieisystem.inmanage
infinidat.infinibox
infoblox.nios_modules
inspur.ispim
inspur.sm
junipernetworks.junos
kaytus.ksmanage
kubevirt.core
lowlydba.sqlserver
mellanox.onyx
microsoft.ad
microsoft.iis
middleware_automation.keycloak
netapp.aws
netapp.azure
netapp.cloudmanager
netapp.elementsw
netapp.ontap
netapp.storagegrid
netapp.um_info
netapp_eseries.santricity
netbox.netbox
ngine_io.cloudstack
ngine_io.exoscale
ngine_io.vultr
nttmcp.mcp
openstack.cloud
openvswitch.openvswitch
oracle.oci
ovirt.ovirt
paloaltonetworks.panos
purestorage.flasharray
purestorage.flashblade
purestorage.fusion
radware.radware_modules
# New
ravendb.ravendb
sap.sap_operations
sensu.sensu_go
servicenow.itsm
servicenow.servicenow
splunk.es
# requires ansible <= 2.13
solace.pubsub_plus
t_systems_mms.icinga_director
t_systems_mms.mongodb_atlas
telekom_mms.icinga_director
trendmicro.deepsec
theforeman.foreman
vmware.vmware_rest
vultr.cloud
vyos.vyos
wti.remote
# forced, overwrites potential newer dependencies
amazon.aws
ansible.netcommon
ansible.posix
ansible.utils
ansible.scm
ansible.windows
community.general
community.mysql
community.postgresql
kubernetes.core
vmware.vmware
# end
